.persons{
    /* color: white; */
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 10px;
    margin-top: 20px;
}
.persons-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}
.persons-info{
    padding: 0 40px;
}
.persons p{
    font-weight: 700;
}